body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
#header {
	height: 161px;
	margin: 0;
	padding: 0;
}
#header div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#header div a.logo {
	display: block;
	float: left;
	margin: 21px 0 0 0;
	padding: 0
}
#header div a.logo img {
	border: 0;
	;width: 300px;
}
#header div ul {
	margin:0;
	list-style:none;
	padding:60px 0 0;
	float:right;
}
#header div ul li {
	float:left;
	margin:0 0 0 20px;
}
#header div ul li a {
	color: #bab6b4;
	display: block;
	line-height: 14px;
	text-align: center;
	text-decoration: none;
}
#header div ul li a:hover, #header div ul li.selected a {
	color:#3b7193;
}
#header div ul li.selected a {
	font-weight:bold;
	color:#3b7193;
}
#header div ul li:first-child a{
	background:none;
}
#header div ul li a{
	font-size:16px;
	text-shadow: 0 1px 0 #d1e6f7;
	text-decoration:none;
	color:#6cb2e6;
	outline:none;
	background:url(../images/interface.gif) no-repeat left 0;
	padding:0 0 0 20px;
}

#body {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#body .user-info ul {
	margin:0;
	list-style:none;
	padding:20px 0 0;
	float:right;
}
#body .user-info ul li {
	float:left;
	margin:0 0 0 20px;
}
#body .user-info ul li a {
	color: #bab6b4;
	display: block;
	line-height: 14px;
	text-align: center;
	text-decoration: none;
}
#body .user-info ul li a:hover, #header div ul li.selected a {
	color:#3b7193;
}
#body .user-info ul li.selected a {
	font-weight:bold;
	color:#3b7193;
}
#body .user-info ul li:first-child a{
	background:none;
}
#body .user-info ul li a{
	font-size:14px;
	text-shadow: 0 1px 0 #d1e6f7;
	text-decoration:none;
	color:#6cb2e6;
	outline:none;
	background:url(../images/interface.gif) no-repeat left 0;
	padding:0 0 0 20px;
}
#body .body {
	padding: 8% 0 0;
}
#body .body h1 {
	color: #e91391;
	font-size:30px;
	font-weight:normal;
	margin: 0;
	padding: 0 0 0 30px;
}
#body .body h3 {
	color: #ff9600;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin: 0 0 30px;
	padding: 30px 30px 0;
}
#body .body p {
	color: #7d7978;
	line-height: 24px;
	margin: 0;
	padding: 0 30px 25px;
	text-align: justify;
}
#body .body p a {
	color: #7D7978;
	text-decoration: underline;
}
#body .body p a:hover {
	color: #e91391;
}
#body .body .error {
	color: #e91391;
	font-size: 20px;
	margin: 0 0 20px;
	padding: 20px 0 0;
	width: 460px;
}
#body table {
	font-size: 14px;
}
#body .body table {
	color: #7d7978;
	line-height: 24px;
	margin: 0;
	padding: 0 30px 10px;
	text-align: justify;
}
#body .body table a {
	color: #7D7978;
	text-decoration: underline;
}
#body .body table a:hover {
	color: #e91391;
}
#body .body table th {
	width: 200px;
	border-bottom: 1px solid #ebebeb;
	color: #ff9600;
	font-family: 'Forum-Regular';
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin: 0 0 30px;
	padding: 30px 0 0;
}
#body .book table th {
	font-size: 20px;
	padding: 5px 0 0;
}
#body h2 {
	color: #e91391;
	font-family: 'Forum-Regular';
	font-size:30px;
	font-weight:normal;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 10px 0 10px 10px;
}
#body .form {
	background: url(../images/bg-content.png) no-repeat top center;
	margin: 0 0 63px;
	min-height: 330px;
	padding: 20px 0 0 30px;
}
#body .form h4 {
	border-bottom: 1px solid #ebebeb;
	color: #ff9600;
	font-family: 'Forum-Regular';
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin: 0 0 30px;
	padding: 30px 0 0;
	width: 460px;
}
#body .form .error {
	color: #228b22;
	font-size: 14px;
	margin: 0 0 20px;
	padding: 20px 0 0;
	width: 460px;
}
#body .form textarea {
	width: 670px;
	height: 200px;
}
#body .bookSmallImg {
	max-width: 60px;
}
.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url(../images/star-rating.png) 0 0 no-repeat;
}
.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-00 { background-position: -60px 0; }
 
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }

.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating {
	background: url(../images/star.gif) left -1000px repeat-x;
}
.star-rating {
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li {
	display: inline;
}
.star-rating a,
.star-rating .current-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus {
	background-position: left bottom;
}
.star-rating a.one-star {
	width:20%;
	z-index:6;
}
.star-rating a.two-stars {
	width:40%;
	z-index:5;
}
.star-rating a.three-stars {
	width:60%;
	z-index:4;
}
.star-rating a.four-stars {
	width:80%;
	z-index:3;
}
.star-rating a.five-stars {
	width:100%;
	z-index:2;
}
.star-rating .current-rating {
	z-index:1;
	background-position: left center;
}

#footer {
	height: 200px;
	margin: 0;
	padding: 0;
}
#footer p {
	color: #9b9b9b;
	margin: 0;
	padding: 130px 0 0;
	text-align: center;
}
