/* GENERAL ------------------------------------------------------------*/

body{
	line-height:1;
	color:#49494b; 
	background:#f0efeb;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:100%;
	font-size:14px;
}
body .o{
	width: 50%;
	background: white;
}
}
a{
	color:#42c8f4;
}
h1{font-size:30px;}
h2{font-size:28px;}
h3{font-size:26px;}
h4{font-size:24px;}
h5{font-size:22px;}
h6{font-size:20px;}

h1, h2, h3, h4, h5, h6{
	margin-bottom:.0em;
}
.headline{
	margin-top:30px;
	margin-bottom:20px; 
	font-size:24px; 
	text-align:center;
}
.headline-h{
	margin:25px 0; 
	font-size:20px; 
	text-align:center;
}
#header #main, #footer, #bottom{
	width:100%;
}
#header{
	height:134px;
	background:#e5e3dc url("../images/webtreats_blue_creme_pattern_93.jpg");
	border-bottom:1px solid #fff;
}
#home-header{
	height:215px; 
	background:#e5e3dc url("../images/pattern5.jpg");
	border-bottom:1px solid #fff;
}
#home-header .degree, #header .degree{
	background:url("../images/top-degree.png") repeat-x; 
	height:100%;
	width:100%;
}
.top-search{
	position:absolute;
    top:88px; 
    right:10px;
}
#home-header .search-err{
	color: #E3121B;
	font-size: 14px;
	//margin: 0 0 20px;
	width: 210px;
	position: absolute;
	top:70px; 
    right:4px;
    margin-left: 50px;
}
#home-header .link{
	position: absolute;
	top:46px; 
    right: 0px;
	margin-right: 14px;
	
}
#home-header .link a{
	text-decoration: none;
	color: #42c8f4;//#999;//#49494b;
	font-size: 22px;
}
#main{
	width: 100%;
}
.wrapper{
	width:1000px; 
	margin:0 auto;
	position:relative;
}

.shadow-divider{
	clear:both; 
	height:25px; 
	width:100%; 
	background:url("../images/sprites.png") no-repeat 0 -416px;
	margin-bottom:20px;
}
.right{float:right;}
.left{float:left;}
.holder{overflow:hidden;}

::-webkit-input-placeholder{
   color: black !important; 
}

/* TABLE ------------------------------------------------------------*/

table, td, th{
	vertical-align:middle;
}
table{
	border-collapse:separate; 
	border-spacing:0; 
	border-top:0px solid white;
    margin-bottom:28px; 
	width:100%; 
	text-align:left;
}
th{
	//border-top:0px solid #555;
	color:#fff;
	padding:10px;
	text-transform:uppercase; 
	//background-color:black;
	background:url('../images/pattern5.jpg');
}
td{
	padding:10px;
}
td, th{
	border-bottom:1px solid white;
	border-top:1px solid white; //#1f1f1f;
	//border-right:1px solid white;
}

/* INFO BOXES ------------------------------------------------------------*/

.warning-g, .error-g{
	border:1px solid;
	margin:10px 0;
	padding:15px 10px 15px 50px;
	background-repeat:no-repeat;
	background-position:10px center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.warning-g{
	color:#9F6000;
 	background-color:#FEEFB3;
	background-image:url('../images/knob-attention.png');
	margin-left: 5px;
}
.error-g{
	color:#D8000C; 
	background-color:#FFBABA;
	background-image:url('../images/knob-cancel.png');
}


/* TITLE ------------------------------------------------------------*/

.title-holder{
	display:block; 
	overflow:hidden; 
	position:relative; 
	width:1000px;
	height:82px;
	background:url("../images/pattern4") no-repeat;
  	margin-bottom:10px; line-height:1em;
}
.title-holder .title-t{
	display:block; 
	float:left;
	font-size:28px;
	color:#49494b;
	margin-top:40px;
	margin-left:23px;
}
.title-holder .title-t a{
	color:#49494b;
}
.title-holder a{
	color:#adadad;
	text-decoration: none;
}
.title-holder .subtitle{
	display:block; 
	float:left; 
	font-size:20px; 
	color:#999; 
	margin-top:35px;
    margin-left:15px;
}
.title-holder .username{
	display:block;
	float:right; 
	font-size:20px; 
	color:#999; 
	margin-top:15px;
	margin-right:15px;
}
.title-holder .link-button{
	position:absolute;
	top:25px;
	right:30px;
}

/* SLIDESHOW ------------------------------------------------------------*/

#slideshow{
	overflow:hidden; 
	position:relative; 
	left:0;
	width:990px; 
	height:420px; 
	margin-bottom:20px; 
	background:url("../images/slideshow-bg.png") no-repeat;
	z-index:0;
	border: 2px solid #f0efeb;
}
#slideshow #slideshow-link span{display:block; position:absolute; left:20px; top:10px; width:960px; height:320px; z-index:50;}
#slideshow ul#slides{position:relative; left:20px; top:10px; width:960px; height:322px;}
#slideshow-nav-holder{display:block; position:absolute; overflow:hidden; width:960px; padding:6px 10px 6px 10px; bottom:0; right:0; z-index:10; background:url("../images/slideshow-nav-bg.png") no-repeat;}
#slideshow-nav{display:block; clear:left; float:left; position:relative; left:50%;}
#slideshow-nav a{display:block; float:left; margin:0; padding:0; width:10px; height:10px; background:#49494b; text-indent:-9000px; margin:0 3px; position:relative; right:50%;}
#slideshow-nav a:hover{background:#575758;}
#slideshow-nav a.activeSlide{background:#fff;}
#slideshow #prev{position:absolute; top:160px; left:5px; background:url("../images/sprites.png") no-repeat -104px -343px; height:30px; width:24px; z-index:60;}
#slideshow #next{position:absolute; top:160px; right:5px; background:url("../images/sprites.png") no-repeat -142px -343px; height:30px; width:24px; z-index:60;}
#slideshow #prev:hover{background-position:-211px -343px;}
#slideshow #next:hover{background-position:-249px -343px;}

/* GAME PAGE ------------------------------------------------------------*/

#all-div{
}
.fmr-div{
	display: flex;
    flex-direction: row;
	display: -webkit-flex;
}
.home-content{
	position:relative; 
	overflow:hidden; 
	top:-90px; 
	min-height:1050px;
}
.front-left-col{
	width:55.4%;
	margin:0 20px 0 20px;
	float:left;
}
.front-right-col{
	width:35.5%;
	float:right;
	margin-right:33px; 
	//min-height: 1400px;
	display: flex;
    flex-direction: column;
	display: -webkit-flex;
}
.front-right-col .front-right-col-games{
	width:100%;
	float:right;
	margin-right:10px; 
	margin-top:0px; 
   -webkit-flex: 1 1 auto;
    overflow-y: auto;
    height: 1480px;    
}
.front-middle-coll{
	width:2%;
	margin:0 0 10 0px;
	float: left;
	//height: 1600px;
	padding-left: 5px;
	text-align: center;
	background:url("../images/top-degree.png") no-repeat; //0 -416px;
	background-size: 10px 2000px; 
	-o-transform:rotate(90deg);
}
.front-left-down-col{
	width:500px;
	margin:0 0px 0 0px;
	height: 650px;
	padding-left: 40px;
	padding-top: 15px;
    position: relative;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
    background: white;
}
#front-left-down-col .img{
	position: relative;
	background: #fff;	
}
.thumb-d {
	padding: 7px;
	width: 100px;
	height: 159;
	position: top;
}
.thumb{
	width: 112px;
	height: 159;
	padding-right: 15px;
	margin-right: 15px;
}
.front-right-col-title{
	width:100%;
    height: 50px;
	//float:right;
	padding-right: 15px;
	margin-right: 10px;
	margin-left: 0px;
}
.shadow-divider1{
	background:url("../images/sprites.png") no-repeat 0 416px;
	margin-top:20px;
	float: right;
	border-left: thick solid;
}
.bullet-title{
	background:url("../images/sprites.png") no-repeat 0 -815px;
	padding-left:40px;
	margin-bottom:10px;
	margin-right:10px;
	padding-bottom: 1px;
}
.bullet-title .big{
	color:#49494b;
 	font-size:24px;
	line-height:30px;
}
.bullet-title .small{
	color:#999; 
	margin-top:2px;
	font-size:16px;
	line-height:0.4em;
	padding-left: 1px;
}

/* GAMES LIST ------------------------------------------------------------*/

#genId{}
.list-all{
	width:980px;
	//height: 2000px;
	margin-right: 10px;
	margin-left: 10px;
	float:right;
	//position: relative;
	//background-size:cover;
}
.front-left-col-games{
	width:100%;
	float:right;
	//margin-right:15px; 
	margin-top:0px; 
	//height: 100%;
	background:url('../images/pattern5.jpg');
	background-width:100%;
	background-height:100%;
	border: 2px solid black;
	border-radius: 25px;
}
.games-list-left{
    padding: 8px 0px 8px 25px ; 
    margin-top:10px;
    float: left;
    width:955px;
    border-bottom: 1px solid white;
}
.games-list-left-last{
    padding: 8px 0px 0px 25px ; 
    margin-top:10px;
    float: left;
    width:955px;
    //border-bottom: 1px solid white;
}

.image-holder{
	overflow:hidden;
 	width:150px;
 	display:block;
 	float: left;
 	padding-left: 0px;
 	margin-top: 12px;
 	margin-bottom: 16px;
}
.image-holder li{
	display:block;
	float:left;
	width:120px;
	position:relative;
	margin-bottom:10px;
	margin-right:0px;
}
.game-name{
	//display:block; 
    padding-left: 4px; 
    width: 450px;
    margin-bottom: 2px;
    float: left;
    margin-left: 0px;
    margin-top: 13px;
    color:#adadad;
    font-size: 16px;
}
.game-name a{
	text-decoration: none;
	color:#adadad;
}
.game-score{
	background-color: #D15A04;
	height: 28px;
	width: 35px;
	font-size: 17px;
	text-color: white;
	color: #fff;
	line-height: 28px;
	padding-right: 1px;
	text-align: center;
	margin-top: 1px;
	float:left;
	margin-left: 5px;
	//margin-bottom: 20px;
}
.game-date{
	color:#49494b;
	font-size:12px; 
	text-align:left;
	width: 100px;
	float: left;
	margin-top: 15px;
	margin-left: 150px;
	margin-bottom: 10px;
}


/* PAGER ------------------------------------------------------------*/

.pager{
	overflow:hidden; 
	margin-right:20px;
	margin-top:40px; 
	margin-bottom:20px;
	width: 100%;
	height: 50px;
}

/* PORTFOLIO PAGER ------------------------------------------------------------*/

.portfolio-pager{
	overflow:hidden;
	display:block; 
	//height:35px;
	//float:right;
    width: 400px;
	height: auto;
    margin: 0 auto;
    margin-top: 20px; 
    padding-left: 160px;
    position: relative;
    //text-align: center;
}
.portfolio-pager a{
	display:block;
	 width:100%; 
	 height:100%;
	 color: black;
}
.portfolio-pager .previous{
	background:url('../images/sprites.png') no-repeat -104px -343px;
	width:25px;
	height:32px;
	float:left;
	margin-left: 15px;
	margin-right: 15px;
}
.portfolio-pager .next{
	background:url('../images/sprites.png') no-repeat -142px -343px;
	width:25px;
	height:32px;
	float:left;
	margin-left: 15px;
	margin-right: 15px;
}
.portfolio-pager .first{
	width:42px;
	height:25px;
	float:left;
	color: black;
	font-size: 19px;
	margin-top: 5px;
}
.portfolio-pager .last{
	width:42px;
	height:25px;
	float:left;
	color: black;
	font-size: 19px;
	margin-top: 5px;
}
.portfolio-pager .middle{
	width:20px;
	height:25px;
	float:left;
	color: black;
	font-size: 19px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

/* REVIEWS ------------------------------------------------------------*/

.games-list{
	//display:block; 
 	border: 2px solid #a1a1a1;
    padding: 8px 20px; 
    background: white;
    width:290px;
    border-radius: 25px;
    margin-top:10px;
    float: right;
}
.games-list li{
	margin-bottom:10px;
	line-height:1.5em;
}
.critic-name{
	display:block; 
    padding-left: 15px; 
    width: 291px;
    margin-bottom: 2px;
    float: right;
    margin-left: 22px;
}
.critic-body{
	margin-top: 12px;
}
.critic-date{
	color:#adadad;
	font-size:12px; 
	text-align:left;
	width: 300px;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
.critic-date span{
	float:left; 
}
.critic-game-score{
	background-color: #D15A04;
	height: 28px;
	width: 35px;
	font-size: 17px;
	text-color: white;
	color: #fff;
	line-height: 28px;
	padding-right: 1px;
	text-align: center;
	margin-top: 1px;
}
.critic-game-score .main{
	background-color: #D15A04;
	height: 60px;
	width: 80px;
	font-size: 30px;
	text-color: white;
	color: #fff;
	//line-height: 28px;
	padding-right: 1px;
	 line-height: 60px;
	//text-align: center;
}

/* SEARCH ------------------------------------------------------------*/

#searchform{}
#searchform #s{
	color:#49494b; 
	font-size:12px; 
	width:160px; 
	height:21px; 
	text-color: black;
	margin:0 0 5px 0;
	padding:2px 35px 2px 8px;
	border:0; 
	background:#f0efeb;
}
#searchform #searchsubmit{
	position:absolute; 
	top:0; 
	right:0;
 	width:25px;
	height:25px;
	border:0; 
 	background:url("../images/sprites.png") no-repeat transparent 0 0;
 }
#searchform #searchsubmit:hover{
	background-position:-27px 0;
}

/* HOME BLOCKS ------------------------------------------------------------*/

.blocks-holder{
	overflow:hidden;
 	width:300px;
 	display:block;
 	float: left;
 	padding-left: 0px;
 	margin-top: 12px;
 	margin-bottom: 16px;
}
.blocks-holder li{
	display:block;
	float:left;
	width:120px;
	position:relative;
	margin-bottom:10px;
	margin-right:0px;
}
.block-data{
	width:100px;
	height:30px;
	text-align: left;
	margin-left:10px;
	margin-top: 3 px;
}
.block-data-h{
	width:100px;
	height:30px;
	text-align: left;
	margin-top: 30px;
	margin-left:10px;
}
.pub-name{
	color:#666; 
    font-size:14px;
	width: 250px;
	text-decoration:none;
	margin-top: 2px;
	font-family:Tahoma,Arial;
 	margin-bottom: 12px;
 	margin-left: 280px;
 	padding-top: 14px;
}
.pub-name label{
	font-weight: bold;
	color:#49494b;
}
.game-dev{
	
}
.game-genre{
	margin-top: 20px;
} 
.game-rating{
	margin-top: 20px;
}
.game-rel-date{
	margin-top: 20px;
}
.blocks-holder li images{border:1px solid gray;}

/* STARS ---------------------------------------------------------*/

.rating {
	position:relative;
	width:115px;
	height:21px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background: url(../images/star1.jpg) bottom;
	//background-position: left bottom;
	margin-left:5px;
	//padding-left:5px;
}
.rating li {
	display: inline;
}
.rating a,
.rating .new-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:21px;
	line-height:21px;
	outline:none;
	overflow:hidden;
	border: none;
}
.rating a:hover,
.rating a:active,
.rating a:focus {
	background: url(../images/star1.jpg) left center;
}
.rating a.one {
	width:23px;
	z-index:6;
}
.rating a.two {
	width:46px;
	z-index:5;
}
.rating a.three {
	width:69px;
	z-index:4;
}
.rating a.four {
	width:92px;
	z-index:3;
}
.rating a.five {
	width:115px;
	z-index:2;
}
.rating .new-rating {
	z-index:1;
	background: url(../images/star1.jpg) left top;
}

/* FORMS ------------------------------------------------------------*/

#reviewForm{
	//margin-bottom:18px;
	//margin-right: 15px;
}
#reviewForm p{
	 margin-bottom:0;
}
#reviewForm input, #reviewForm textarea{
	 color:#1f1f1f; 
   	 font-size:14px;
	 padding:4px 5px; 
	 background:#d2d2d2; 
	 border:none transparent;
}
#reviewForm input{
	 width:97%;
	 margin-bottom:6px; 
	 font-family:Tahoma,Arial;
	 border-width: 2px;
	 margin-left: 5px;
	 margin-right: 5px;
}
#reviewForm textarea{
	 width:97%; 
	 height: 150px;
	 margin-bottom:6px; 
	 font-family:Tahoma,Arial;
	 border-width: 2px;
	 margin-left: 5px;
	 margin-right: 5px;
}
#reviewForm #submit{
	 width:76px;
	 background:url("../images/sprites.png") no-repeat 0 -765px; 
	 border-style: solid;
	 margin-top:0; 
	 padding:5px 0;
	 border-style: solid;
	 }
#reviewForm label{
	 display:block; 
 	 font-size:14px; 
	 line-height:1.5em;
	 font-weight:light;
	 margin-left: 5px;
}

/* FOOTER ------------------------------------------------------------*/

#footer{
	position:relative;
	width:100%;
	background:#e5e3dc url("../images/pattern5.jpg");
	border-top:1px solid #fff;
	height: 80px;
}
#footer .degree{
	background:url("../images/top-degree.png") repeat-x; 
	height:100%;
	 width:100%;
	padding-top:20px;
    padding-bottom:20px;
 }


/* BOTTOM ------------------------------------------------------------*/

#bottom{
	color:#989797;
	font-size:12px;
	line-height:1.5em; 
	font-weight:light;
	width:100%;
	border-top:1px solid #424345;
 	background:#0d0d0d;
 	text-align: center;
 }
#bottom .wrapper{
	background:url("../images/bottom-texture.png") no-repeat;
	width:960px; 
	padding:10px 20px;
}
#bottom a{
	color:#fff;
}

