/* HACKS ------------------------------------------------------------*/

.clear{clear:both; height:1px;}
.inv{display:none;}
ol{list-style:decimal; padding-left:30px;}

/* GENERAL ------------------------------------------------------------*/

body{line-height:1; color:#49494b; background:#f0efeb; font-family:Tahoma,Arial,Helvetica,sans-serif; font-size:100%; font-size:14px;}
a{color:#42c8f4;}
h1{font-size:30px;}
h2{font-size:28px;}
h3{font-size:26px;}
h4{font-size:24px;}
h5{font-size:22px;}
h6{font-size:20px;}
h1, h2, h3, h4, h5, h6{margin-bottom:.0em;}
.headline{
	margin-top:30px;
	margin-botton:20px; 
	font-size:24px; 
	text-align:center;
}
.headline-h{
	margin:20px 0; 
	font-size:20px; 
	text-align:center;
}
#header #main, #footer, #bottom{width:100%;}
#header{height:134px; background:#e5e3dc url("../images/bgs/webtreats/webtreats_blue_creme_pattern_87.jpg"); border-bottom:1px solid #fff;}
#home-header{height:203px; background:#e5e3dc url("../images/bgs/webtreats/webtreats_blue_creme_pattern_87.jpg"); border-bottom:1px solid #fff;}
#home-header .degree, #header .degree{background:url("../images/top-degree.png") repeat-x; height:100%; width:100%;}
.wrapper{width:1000px; margin:0 auto; position:relative;}
#logo{position:absolute; top:39px; left:25px;}
.top-search{position:absolute; top:0; right:10px;}
.icon{display:block; background-repeat:no-repeat; background-position:left top; width:16px; margin:3px; height:100%; text-indent:-9000px;}
.icon-32{display:block; background-repeat:no-repeat; background-position:left top; width:32px; margin:3px; height:32px; text-indent:-9000px;}
.shadow-divider{
	clear:both; 
	height:25px; 
	width:100%; 
	background:url("../images/sprites.png") no-repeat 0 -416px;
	margin-bottom:20px;
}
.right{float:right;}
.left{float:left;}
.holder{overflow:hidden;}
images.shadow-images{border:1px solid #fff; -webkit-box-shadow:0 0 3px #000; -moz-box-shadow:0 0 3px #000; box-shadow:0 0 3px #000;}

/* COLUMNS LAYOUT----------------------------------------------------------*/

.one-half, .one-third, .two-third, .three-fourth, .one-fourth{float:left; margin-right:20px; position:relative;}
.one-half{width:458px;}
.one-third{width:300px;}
.one-fourth{width:220px;}
.two-third{width:620px;}
.three-fourth{width:700px;}
.last{clear:right; margin-right:0 !important;}

/* CONTENT ------------------------------------------------------------*/

.content{position:relative; overflow:hidden; top:-20px; min-height:600px; line-height:1.5em;}
.content-blog{overflow:hidden; margin-top:30px; min-height:600px; line-height:1.5em;}
.content p, .content-blog p{margin-bottom:21px;}
.page-content{width:960px; margin-left:20px; margin-right:20px; overflow:hidden;}
.page-content ul{list-style-type:disc; padding-left:20px;}
.page-content ol{list-style-type:decimal; padding-left:20px;}

/* LINK BUTTON ------------------------------------------------------------*/

.link-button{display:table; height:31px; padding-left:15px; font-size:14px; line-height:1em; color:#515153; background:url("../images/sprites.png") 0 -205px no-repeat;}
.link-button span{display:block; height:31px; margin-left:5px; padding-left:5px; padding-top:7px; padding-right:12px; background:url("../images/sprites.png") no-repeat right -166px;}
.link-button:hover{color:#999;}

/* STYLED ------------------------------------------------------------*/

.left-align{float:left; margin:8px 18px 18px 0; display:block;}
.right-align{float:right; margin:0 0 0 10px; display:block;}
.boxed{background:white; padding:5px; border:1px solid #ccc;}
.border{border:2px solid white;}
.dropcap{display:block; float:left; font-size:40px; line-height:40px; margin:0 8px 0 0;}
.highlight{background:yellow; color:#111; padding:1px 4px;}
.pullquote-right, .pullquote-left{border-left:#555 2px solid; float:right; font-size:16px; line-height:1.5em; margin:20px 0 20px 20px; padding:0 0 0 20px; width:33%; font-style:italic;}
.pullquote-left{float:left; margin:20px 20px 20px 0;}
.pullquote-right{border-left:none; border-right:#555 2px solid;}

/* TABLE ------------------------------------------------------------*/

table, td, th{vertical-align:middle;}
table{border-collapse:separate; border-spacing:0; border-top:1px solid white; margin-bottom:28px; width:100%; text-align:left;}
th{border-top:5px solid #555; color:#fff; padding:10px; text-transform:uppercase; background-color:#49494b;}
td{padding:10px;}
td, th{border-bottom:1px solid #1f1f1f;}

table-game{border-collapse:separate; border-spacing:0; border-top:1px solid white; margin-bottom:28px; width:100px; text-align:left;}

table-game .td {padding:10px; border-bottom:1px solid #1f1f1f;}
table-game .th {border-top:5px solid #555; color:#fff; padding:10px; background-color:#49494b;}
/* INFO BOXES ------------------------------------------------------------*/

.info, .success, .warning, .error, .validation{border:1px solid; margin:10px 0; padding:15px 10px 15px 50px; background-repeat:no-repeat; background-position:10px center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.info{color:#00529B; background-color:#BDE5F8; background-image:url('../images/knobs-icons/knob-info.png');}
.success{color:#4F8A10; background-color:#DFF2BF; background-image:url('../images/knobs-icons/knob-valid-green.png');}
.warning{
	color:#9F6000;
 	background-color:#FEEFB3;
	background-image:url('../images/knob-attention.png');
	margin-left: 5px;
}
.error{
	color:#D8000C; 
	background-color:#FFBABA;
	background-image:url('../images/knob-cancel.png');
}

/* TOGGLE &ACCORDION ------------------------------------------------------------*/

h5.accordion-trigger, h5.toggle-trigger{padding:0 0 0 20px; margin:0 0 5px 0; height:46px; line-height:46px; width:100%; float:left; border-bottom:1px solid #ccc;}
h5.accordion-trigger a, h5.toggle-trigger a{text-decoration:none; display:block; color:#1f1f1f;}
h5.accordion-trigger a:hover, h5.toggle-trigger a:hover{color:#ccc;}
div.accordion-container, div.toggle-container{margin:0 0 5px 0; padding:0; overflow:hidden; width:95%; clear:both;}
div.accordion-container .block, div.toggle-container .block{padding:10px;}
div.accordion-container .block, div.toggle-container .block{font-size:14px; line-height:1.5em;}
div.accordion-container .block p, div.toggle-container .block p{margin-bottom:1.5em;}

/* TOOLTIP ------------------------------------------------------------*/

.tooltip, .tooltip-right, .tooltip-bottom, .tooltip-left{display:none; font-size:12px; height:70px; width:160px; padding:25px; color:#fff; line-height:1.3em; z-index:600;}
.tooltip{background:transparent url("../images/tooltip.png") no-repeat;}
.tooltip-right{background:transparent url("../images/tooltip-right.png") no-repeat;}
.tooltip-bottom{background:transparent url("../images/tooltip-bottom.png") no-repeat;}
.tooltip-left{background:transparent url("../images/tooltip-left.png") no-repeat;}
.tooltip-social{display:none; font-size:12px; height:40px; width:140px; padding:25px; color:#fff; line-height:1.3em; z-index:600;}
.tooltip-social{background:transparent url("../images/tooltip-social.png") no-repeat;}

/* SEARCH ------------------------------------------------------------*/

#searchform{}
#searchform #s{color:#49494b; font-size:12px; width:160px; height:21px; margin:0 0 5px 0; padding:2px 35px 2px 8px; border:0; background:#f0efeb;}
#searchform #searchsubmit{position:absolute; top:0; right:0; width:25px; height:25px; border:0; background:url("../images/sprites.png") no-repeat transparent 0 0;}
#searchform #searchsubmit:hover{background-position:-27px 0;}

/* NAVIGATION ------------------------------------------------------------*/

#nav-holder{width:700px; position:absolute; top:68px; right:10px; font-size:20px;}
#nav{display:block; float:right;}
#nav li{display:block; float:left; padding-left:20px;}
#nav li:first-child{padding-left:0;}
#nav li a{color:#f0efeb; text-decoration:none; padding-bottom:5px;}
#nav>li>a:hover, #nav>li.current_page_item>a{color:#d24c0a; background:url("../images/sprites.png") no-repeat center -51px;}

/* sub nav */

#nav li ul{padding:0; background:#1b1b1b;}
#nav>li>ul{margin:5px 0 0 0;}
#nav li ul li{padding:0; margin:0; border-bottom:1px solid #939392;}
#nav li ul li:last-child{border-bottom:none;}
#nav li ul li a{padding:10px; margin:0; font-size:12px; color:#939392;}
#nav li ul li:hover{background:#4e4e50; background-position-x:-9000px;}
#nav li ul li:hover a{color:#fff;}

/* TITLE ------------------------------------------------------------*/

.title-holder{display:block; overflow:hidden; position:relative; width:1000px; height:82px; background:url("../images/title-bg.png") no-repeat; margin-bottom:10px; line-height:1em;}
.title-holder .title{display:block; float:left; font-size:28px; color:#49494b; margin-top:30px; margin-left:23px;}
.title-holder .subtitle{display:block; float:left; font-size:20px; color:#999; margin-top:35px; margin-left:15px;}
.title-holder .username{display:block; float:right; font-size:20px; color:#999; margin-top:35px; margin-right:25px;}
.title-holder .link-button{position:absolute; top:25px; right:30px;}

/* SLIDESHOW ------------------------------------------------------------*/

#slideshow{overflow:hidden; position:relative; left:0; width:1000px; height:363px; margin-bottom:20px; background:url("../images/slideshow-bg.png") no-repeat; z-index:0;}
#slideshow #slideshow-link span{display:block; position:absolute; left:20px; top:10px; width:960px; height:320px; z-index:50;}
#slideshow ul#slides{position:relative; left:20px; top:10px; width:960px; height:322px;}
#slideshow-nav-holder{display:block; position:absolute; overflow:hidden; width:960px; padding:6px 10px 6px 10px; bottom:0; right:0; z-index:10; background:url("../images/slideshow-nav-bg.png") no-repeat;}
#slideshow-nav{display:block; clear:left; float:left; position:relative; left:50%;}
#slideshow-nav a{display:block; float:left; margin:0; padding:0; width:10px; height:10px; background:#49494b; text-indent:-9000px; margin:0 3px; position:relative; right:50%;}
#slideshow-nav a:hover{background:#575758;}
#slideshow-nav a.activeSlide{background:#fff;}
#slideshow #prev{position:absolute; top:160px; left:5px; background:url("../images/sprites.png") no-repeat -104px -343px; height:30px; width:24px; z-index:60;}
#slideshow #next{position:absolute; top:160px; right:5px; background:url("../images/sprites.png") no-repeat -142px -343px; height:30px; width:24px; z-index:60;}
#slideshow #prev:hover{background-position:-211px -343px;}
#slideshow #next:hover{background-position:-249px -343px;}

/* GAME PAGE ------------------------------------------------------------*/

.home-content{
	position:relative; 
	overflow:hidden; 
	top:-90px; 
	min-height:1000px;
	}
.front-left-col{
	width:55.4%;
	margin:0 10px 0 20px;
	float:left;
}
.front-left-down-col{
	width:500px;
	margin:0 0px 0 0px;
	height: 660px;
	padding-left: 40px;
	padding-top: 15px;
    position: relative;
    border: 2px solid #a1a1a1;
    border-radius: 25px;
    background: white;
}
#front-left-down-col .img{
	position: relative;
	background: #fff;
	
}
.thumb-d {
	padding: 7px;
	width: 100px;
	height: 159;
	position: top;
}
.thumb{
	width: 112px;
	height: 159;
	padding-right: 15px;
	margin-right: 15px;
}
.front-right-col{
	width:34.3%;
    margin:0 0 0 10px;
	float:right;
	margin-right:40px; 
}
.front-middle-coll{
	width:1%;
	margin:0 0 10 0px;
	float: left;
	height: 3000px;
	text-align: center;
	background:url("../images/top-degree.png") no-repeat; 0 -416px;
	background-size: 10px 2000px; //left top;
	-o-transform:rotate(90deg);
}
.shadow-divider1{
	background:url("../images/sprites.png") no-repeat 0 416px;
	margin-top:20px;
	float: right;
	border-left: thick solid;
}
.bullet-title{
	background:url("../images/sprites.png") no-repeat 0 -815px;
	padding-left:40px;
	margin-bottom:10px;
	padding-bottom: 1px;
}
.bullet-title .big{
	color:#49494b;
 	font-size:24px;
	line-height:30px;
}
.bullet-title .small{
	color:#999; 
	margin-top:2px;
	font-size:16px;
	line-height:0.4em;
	padding-left: 1px;
}

/* REVIEWS ------------------------------------------------------------*/

.games-list{
	//display:block; 
 	border: 2px solid #a1a1a1;
    padding: 8px 20px; 
    background: white;
    width: 300px;
    border-radius: 25px;
    margin-top:10px;
    float: right;
}
.games-list li{
	margin-bottom:10px;
	line-height:1.5em;
}
.critic-name{
	display:block; 
    //padding: 8px 20px; 
    width: 300px;
    margin-bottom: 2px;
    float: right;
}
.critic-body{
	margin-top: 12px;
	
}
.critic-date{
	color:#adadad;
	font-size:12px; 
	text-align:left;
	width: 300px;
	float: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
.critic-date span{
	float:left; 
}
.critic-game-score{
	background-color: #D15A04;
	height: 28px;
	width: 35px;
	font-size: 17px;
	text-color: white;
	color: #fff;
	line-height: 28px;
	padding-right: 1px;
	text-align: center;
	margin-top: 1px;
}

.critic-game-score .main{
	background-color: #D15A04;
	height: 60px;
	width: 80px;
	font-size: 30px;
	text-color: white;
	color: #fff;
	//line-height: 28px;
	padding-right: 1px;
	 line-height: 60px;
	//text-align: center;
}

/* HOME BLOCKS ------------------------------------------------------------*/

.blocks-holder{
	overflow:hidden;
 	width:300px;
 	display:block;
 	float: left;
 	padding-left: 0px;
 	margin-top: 12px;
 	margin-bottom: 16px;
}
.blocks-holder li{
	display:block;
	float:left;
	width:120px;
	position:relative;
	margin-bottom:10px;
	margin-right:0px;
}
.block-data{
	width:100px;
	height:30px;
	text-align: left;
	margin-left:10px;
}
.block-data-h{
	width:100px;
	height:30px;
	text-align: left;
	margin-top: 30px;
	margin-left:10px;
}
.pub-name{
	color:#666;
    font-size:14px;
	font-weight:bold;
	width: 100px;
	text-decoration:none;
	margin-top: 2px;
 	margin-bottom: 12px;
 	margin-left: 310px;
 	padding-top: 12px;
}
.blocks-holder li images{border:1px solid gray;}

/* STARS ---------------------------------------------------------*/

.rating {
	position:relative;
	width:115px;
	height:21px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background: url(../images/star1.jpg) bottom;
	//background-position: left bottom;
	margin-left:5px;
	//padding-left:5px;
}
.rating li {
	display: inline;
}
.rating a,
.rating .new-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:21px;
	line-height:21px;
	outline:none;
	overflow:hidden;
	border: none;
}
.rating a:hover,
.rating a:active,
.rating a:focus {
	background: url(../images/star1.jpg) left center;
}
.rating a.one {
	width:23px;
	z-index:6;
}
.rating a.two {
	width:46px;
	z-index:5;
}
.rating a.three {
	width:69px;
	z-index:4;
}
.rating a.four {
	width:92px;
	z-index:3;
}
.rating a.five {
	width:115px;
	z-index:2;
}
.rating .new-rating {
	z-index:1;
	background: url(../images/star1.jpg) left top;
}

/* LEAVE COMMENT -------------------------------------------------------*/

.leave-comment{}

/* FORMS ------------------------------------------------------------*/

#reviewForm{
	margin-bottom:18px;
	//margin-right: 15px;
}
#reviewForm p{
	 margin-bottom:0;
}
#reviewForm input, #reviewForm textarea{
	 color:#1f1f1f; 
   	 font-size:14px;
	 padding:4px 5px; 
	 background:#d2d2d2; 
	 border:none transparent;
}
#reviewForm input, #reviewForm textarea{
	 width:97%; 
	 margin-bottom:6px; 
	 font-family:Tahoma,Arial;
	 border-width: 2px;
	 margin-left: 5px;
	 margin-right: 5px;
}
#reviewForm #submit{
	 width:76px;
	 background:url("../images/sprites.png") no-repeat 0 -765px; 
	 border-style: solid;
	 margin-top:0; 
	 padding:5px 0;
	 border-style: solid;
	 }
#reviewForm label{
	 display:block; 
 	 font-size:14px; 
	 line-height:1.5em;
	 font-weight:light;
	 margin-left: 5px;
}

/* STAFF ------------------------------------------------------------*/

.staff li{overflow:hidden; margin-bottom:40px;}
.staff li images{float:left;}
.staff .information{float:left; margin-left:20px; width:550px;}
.staff .information .header{background:url("../images/sprites.png") no-repeat -950px -667px; padding-left:20px; margin-bottom:5px;}
.staff .information .header .name{font-size:24px;}
.staff .information .header .contact{color:#999;}
.staff .information .header .contact a{text-decoration:none;}

/* FOOTER ------------------------------------------------------------*/

#footer{position:relative; width:100%; background:#e5e3dc url("../images/bgs/webtreats/webtreats_blue_creme_pattern_87.jpg"); border-top:1px solid #fff;}
#footer .degree{background:url("../images/top-degree.png") repeat-x; height:100%; width:100%; padding-top:20px; padding-bottom:20px;}

/* SOCIAL BAR ------------------------------------------------------------*/

#social-bar{display:block; position:absolute; top:-75px; left:0; height:74px; width:1000px; overflow:hidden; color:#49494b; font-size:24px; background:url("../images/social-bg.png") no-repeat; z-index:222;}
#social-bar ul.follow-us{display:block; overflow:hidden; float:left; margin-left:30px; margin-top:25px;}
#social-bar ul.follow-us li{display:block; float:left; height:36px; margin-top:3px;}
#social-bar ul.follow-us li:first-child{margin-top:10px; margin-right:6px;}
#social-bar ul.follow-us li:last-child{margin-right:10px;}
#social-bar ul.follow-us li a{display:block; height:32px; width:32px;}

/* FOOTER-COLS ------------------------------------------------------------*/

#footer ul.footer-cols{display:block; overflow:hidden; font-size:12px; padding-top:20px;}
#footer ul.footer-cols{color:#f0efeb;}
#footer ul.footer-cols a{color:#f0efeb;}
#footer ul.footer-cols li.col{display:block; width:220px; float:left; margin-bottom:20px; margin-right:10px; margin-left:10px;}
#footer ul.footer-cols li.col ul{}
#footer ul.footer-cols li.col ul li{margin-bottom:.3em; margin-left:17px;}
#footer ul.footer-cols li.col ul li a{text-decoration:none; line-height:1.5em; font-weight:lighter; color:#f0efeb;}
#footer ul.footer-cols li.col h6{color:#fff; text-decoration:none; font-size:20px; margin:20px 15px 5px 0; background:url("../images/sprites.png") no-repeat 0 -884px; padding-left:17px;}
#footer ul.footer-cols li.col ul li a:hover{text-decoration:underline;}
#footer ul.footer-cols li.col p{line-height:1.5em;}

/* BOTTOM ------------------------------------------------------------*/

#bottom{color:#989797; font-size:12px; line-height:1.5em; font-weight:light; width:100%; border-top:1px solid #424345; background:#0d0d0d;}
#bottom .wrapper{background:url("../images/bottom-texture.png") no-repeat; width:960px; padding:10px 20px;}
#bottom a{color:#fff;}
